/* .root {
  color: rgb(33, 33, 167);
  margin: 0;
}
main {
  display: inline-block;
}
section > div {
  display: inline-table;
  justify-content: space-between;
}
div {
  display: inline;
  color: rgb(161, 161, 173);
  font-style: italic;
  font-weight: bold;
}

#screen {
  width: auto;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(118, 16, 16);
}
#input {
  width: 90%;
  margin: 10px;
  margin-right: 500px;
}
button {
  gap: 4px;
}
#clear {
  color: red;

  padding: px;
}
p {
  float: left;
  padding-right: 0%;
  border: solid, 2px, rgb(201, 171, 171);
  color: rgb(177, 150, 150);
  font-style: normal;
}
.input {
  float: right;
}
.bu {
  width: 33%;
} */
